openapi: 3.1.0
info:
  title: Fast ACCOUNT_COSTS Public Knowledge Bases API
  version: 0.1.0
tags:
- name: Public Knowledge Bases
paths:
  /knowledge_bases/public/{public_id}:
    get:
      tags:
      - Public Knowledge Bases
      summary: Get Public Kb
      description: Get a knowledge base by its public ID (public access)
      operationId: get_public_kb_knowledge_bases_public__public_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
          title: Public Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
servers:
- url: https://api.myaltimate.com
  description: Base URL reconciled from apis.yml
